* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins',sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fcfcfca9;
    overflow-x: hidden;
}


#logog {
    width: 40px;
    height:35px;
}

#tulis {
    color:#678983;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: -3.5px 3px 3px #CCD6A6;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #fcfcfca9;
}

.navbar-nav a {
    color:#678983;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
    font-weight: bold;
    padding: 7px;
}

.navbar-nav a:hover{
    background: #DAE2B6 ;
    border-radius: 20px;
}

.navbar-extra a{
    color: #678983;
    margin: 0 0.5rem;
}

.navbar-extra a:hover{
    color: #4E6C50;
}

#menu {
    display:none;
}


#home {
    display: flex;
}

.welcome {
    margin: 10% 8%;
}

.welcome h2 {
    font-family: 'Poppins',sans-serif;
    font-size: 30px;  
    color:#447061;
}

.welcome h3 {
    font-family: 'Itim';
    font-size: 24px;
    color:#44766d;
    margin-top: 15px;
}

.welcome p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-style: normal;
    font-family: 'Poppins',sans-serif;
    color :#4E6C50;
}

#b {
    
    width: 730px;
    height: 400px;
    margin-top: 5%;
    margin-right: 6%;
}

.daftar a {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: bold;
    background:#A0C3D2;
    border-radius: 40px;
    padding: 20px 35px 20px 35px;
    margin-top: 60px;
    cursor: pointer;
    color:#314a4a;
    box-shadow: -2px 8px #06283D;

}

.daftar a:hover{
  text-decoration: underline;
}

.aboutus {
    width: 100wh;
    height: 100vh;
    margin-top: 8%;
}
.aboutus h3 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #355764;
    
 }

.visimisi {
    display: flex;
    text-align: center;
    margin:8%;
    font-family: 'Poppins',sans-serif;
}

.visi {
    flex-wrap: wrap;
    margin-right: 2%;
    margin-left: 10%;
    width:80rem;
    background-color: #FFAB76;
    padding: 30px;
    height:300px;
    background-color: #678983;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.visi h4 {
    font-family: 'Itim';
    font-size: 30px;
    color:#393E46;
}
.visi p {
    text-align: justify;
    font-size: 13px;
    color:#3C4048;
    font-weight: bold;
    padding:15% 7%;
}
.misi{
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 10%;
    height : 500px;
    width: 80rem;
    background-color: #678983;
    padding:30px;
    height:300px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}
.misi h4 {
    font-family: 'Itim';
    font-size: 30px;
    color:#393E46;
}
.misi p {
    padding-top: 30px;
    text-align: justify;
    font-size: 13px;
    color:#3C4048;
    font-weight: bold;
    padding:7%;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
    html{
    font-size: 100%;
    }
}
/* tablet */

@media (max-width: 758px) {
    html{
    font-size: 62.5%;
    }

    #menu{
        display: inline-block;
    }
    
    #logog {
        width: 27px;
        height:23px;
    }
    .navbar .navbar-nav {
        position: absolute;
        top:10%;
        right:-100%;
        background-color: #EAFDFC;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar-nav.active {
        right: 0;
    }

    .navbar-nav a:hover{
        background: none;
        text-decoration:underline;
    }

    .navbar .navbar-nav a {
        display: block;
        width: 250px;
        margin : 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        
    }

    #home {
        flex-wrap: wrap-reverse;
    }

    #b{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        display:block;
        width: 370px;
        height: 250px;
    }

    .wel {

        align-items: center;
        text-align: center;
    }


    .aboutus h3 {
        font-size: 25px;
    }

    .visimisi {
        flex-wrap: wrap;
        margin-right: 15%;
    }

    .visi {
    height : 200px;
    width: 60rem;
    }
    
    .visi p {
        font-size: 10px;
    }

    .misi {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 0%;
        height: 250px;
    }
    .misi p {
        font-size: 10px;
    }
}
/* mobile phone */

@media (max-width: 450px) {
    html{
    font-size: 55%;
    
    }

    .navbar .navbar-nav {
        top: 6%;
    }
}